.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

.topnav {
    font-family: "Raleway", serif;
}


.topnav a{
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 12px;
    text-decoration: none;
}

.topnav a:hover {
    color: black;
    text-decoration: none;
    background-color: white; 
    transition-duration: 0.4s;
}


.header {
    background-image: url("events_kansi.jpg");
    background-position: center;
    background-size: cover;
    padding: 250px 10px 250px 10px;
    margin: 1px;
}

.h1 {
    font-family: "Playfair+Display", serif;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: none;
    text-align: center;
    margin: 1px;
    color: black;
    border: 1px;
}

h2 {
    font-family: "Playfair+Display", serif;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: none;
    text-align: justify;
    margin: 1px;
    color: black;
    border: 1px;  
}


h3 {
    font-family: "Playfair+Display", serif;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin: 1px;
    color: black;
    border: 1px;
}

<style>

a{
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

a:active  {
    color: black;
    background-color: transparent;
    text-decoration: none;
}  


<style>

.column {
    font-family: "Playfair+Display", serif;
    font-size: 14px;
    margin: 0 0 0 0;
    text-align: center;
}

.content{
    width: 90%;
    margin: auto;
    font-size: 16px;
    font-family: "Playfair+Display", serif;
    color: black;
    text-align: justify;
    line-height: 1.5;
}

.content img {
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
    padding: 20px 20px 20px 20px;
 }

 .column p{
    text-align: justify;
 }

.retailers p{
    text-align: center;
}


@media only screen and (min-width: 650px) {
    .content {
        width: 75%;
    }

    .header {
        padding: 250px 10px 250px 10px;
    }


    .column {
        float: left;
        width: 50%;
      }
      
      .row:after {
        display: table;
        clear: both;
      }
}


@media only screen and (min-width: 1025px) {
    .content {
        width: 55%;
    }

    .header {
        padding: 250px 10px 250px 10px;
    }


    .column {
        float: left;
        width: 50%;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
}
